####################################
# IDE
####################################
.vscode/

####################################
# Project dirs
####################################
/app/
/bin/
/core/
/build/

####################################
# Frontend
####################################
/frontend/dist/
/frontend/node_modules/
/frontend/wailsjs/

/node_modules/

####################################
# Runtime / Data
####################################
/var/model/
/var/temp/
/var/state/
/var/template/
/var/log/
/var/db/

####################################
# Env / Logs
####################################
.env
.env.*
*.log

####################################
# Go binaries
####################################
*.exe
*.dll
*.so
*.dylib